body{
    background-image:url(../img/1200px-Wii_U_controller_illustration.svg.png);
    background-repeat: no-repeat;
    position: relative;
    top:30em
}
.espacio{
    width: 100em;
    height: 70em;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;

   
 }
.cuerpoMando{
    width: 85em;
    height: 42em;
    border-radius: 12em;
    align-content: center;
    display: flex;
    position: relative;
    margin: auto;
    justify-items: center;
    /* Background color difuminado */
    background: rgb(219,219,219);
    background: linear-gradient(24deg, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 21%, rgba(203,200,200,1) 30%, rgba(221,221,221,1) 53%, rgba(228,228,228,1) 78%, rgba(223,223,223,1) 85%);

    /* Sombra al cuerpo principal */
     border-top: rgb(199, 199, 199) 0.2em solid;
     border-bottom: rgb(199, 199, 199) 0.6em solid;
     border-right:rgb(199, 199, 199) 0.5em solid ;
     border-left: rgb(199, 199, 199) 0.2em solid;
     box-shadow: 2em 2em 5em rgb(167, 167, 167);
     

}
.botonesL1L2{
    position: relative;
    top: -2.8em;
    width: 100em;
    height: 8em;
    display: flex;
    justify-items: center;

}

.botonL1{
    position: relative;
    z-index: -1;
    width: 9.5em;
    height: 3em;
    left: 0.3em;
    top: 3.3em;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    transform: rotate(-30deg);
    
}

.botonL2{
    position: relative;
    z-index: -1;
    width: 9.5em;
    height: 3em;
    left: 66em;
    top: 3.6em;
    background-color:  rgb(192, 192, 192);
    border-radius: 50%;
    transform: rotate(-146deg);
    
}
.camara1{
    display: flex;
    position: relative;
    align-items: center;
    width: 28em;
    height: 2.8em;
    top: 4.2em;
    left: 9em;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;

    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 31%, rgba(108,108,108,1) 55%, rgba(120,118,118,1) 57%, rgba(219,219,219,1) 94%);
}
.camara2{
    display: flex;
    position: relative;
    align-items: center;
    width: 2em;
    height: 2.8em;
    top: 1.4em;
    left: 8em;
    -moz-border-radius:  0  0 100px 100px;
    -webkit-border-radius:  0  0 100px 100px;
    border-radius: 100px 0 0 100px;
    background-color: rgb(0, 0, 0);
}
img.camara{
    display: flex;
    position: relative;
    align-items: center;
    width: 4.7em;
    left: 11em;
    border: none;
    box-shadow:  8em 0 0   8em transparent inset;
}


.botonesDerecha{
    display: flex;
    position: relative;
    width: 33em;
    height: 33em;
    border: solid black 0.1em;
}
.circulo{
    display: flex;
    position: relative;
    align-items: center;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    left: 9em;
    top: 6em;
    border: 1.5em solid grey;
}

